<?xml version="1.0" encoding="utf-8"?>
<InstrumentationEngineConfiguration>
    <InstrumentationMethod>
        <Name>Diagnostics Hub Call Counter</Name>
        <Description>Call counter extension for the sampling profiler</Description>
        <Module>DiagnosticsHub.CorProfiler.dll</Module>
        <ClassGuid>{D43E468A-6D7E-499C-BFEF-BD250EF73307}</ClassGuid>
        <Priority>50</Priority>
    </InstrumentationMethod>
</InstrumentationEngineConfiguration>
