<?xml version="1.0" encoding="utf-8"?>
<InstrumentationEngineConfiguration>
    <InstrumentationMethod>
        <Name>Diagnostics Hub Dynamic Instrumentation Profiler</Name>
        <Description>Performance profiler using dynamic instrumentation</Description>
        <Module>DiagnosticsHub.CorProfiler.dll</Module>
        <ClassGuid>{F7337EA0-3FC9-4051-865A-33E62CE0618F}</ClassGuid>
        <Priority>50</Priority>
    </InstrumentationMethod>
</InstrumentationEngineConfiguration>
