<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Location of the Managed Language compilers (Microsoft.CodeAnalysis.(CSharp|VisualBasic)?.dll) -->
      <probing privatePath="PublicAssemblies;PrivateAssemblies;CommonExtensions\Microsoft\VBCSharp\LanguageServices" />
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.IO.Redist" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.1.0-6.0.0.1" newVersion="6.0.0.1"/>
          <codeBase version="6.0.0.1" href="PublicAssemblies\Microsoft.IO.Redist.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
          <codeBase version="5.0.0.0" href="PublicAssemblies\Microsoft.Win32.Registry.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
          <codeBase version="8.0.0.1" href="PublicAssemblies\System.Diagnostics.DiagnosticSource.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.Packaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
          <codeBase version="8.0.0.0" href="PrivateAssemblies\System.IO.Packaging.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.IO.Pipelines.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.FileSystem.AccessControl" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
          <codeBase version="5.0.0.0" href="PrivateAssemblies\System.IO.FileSystem.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
          <bindingRedirect oldVersion="6.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
          <codeBase version="6.0.0.0" href="PublicAssemblies\Rx\System.Reactive.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
          <codeBase version="4.1.5.0" href="PublicAssemblies\System.Reflection.TypeExtensions.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Composition.AttributedModel.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Convention" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Composition.Convention.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Composition.Hosting.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Composition.Runtime.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Composition.TypedParts.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
          <codeBase version="8.0.0.5" href="PublicAssemblies\System.Text.Json.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Text.Encodings.Web.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.3.0" newVersion="4.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
          <codeBase version="6.0.0.0" href="PublicAssemblies\System.Runtime.CompilerServices.Unsafe.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
          <codeBase version="6.0.0.0" href="PublicAssemblies\System.Security.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
          <codeBase version="8.0.0.0" href="PrivateAssemblies\System.Security.Cryptography.ProtectedData.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Threading.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Threading.Channels.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
          <codeBase version="4.0.1.2" href="PublicAssemblies\System.Memory.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
          <codeBase version="4.0.3.0" href="PublicAssemblies\System.Buffers.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Collections.Immutable.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Reflection.Metadata.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.MetadataLoadContext" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
          <codeBase version="8.0.0.0" href="PublicAssemblies\System.Reflection.MetadataLoadContext.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="5.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
          <codeBase version="5.2.7.0" href="PublicAssemblies\System.Net.Http.Formatting.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
          <bindingRedirect oldVersion="4.5.0.0-13.0.0.0" newVersion="13.0.3.0"/>
          <codeBase version="13.0.3.0" href="PrivateAssemblies\Newtonsoft.Json.13.0.3.0\Newtonsoft.Json.dll"/>
        </dependentAssembly>

        <dependentAssembly>
          <assemblyIdentity name="Microsoft.DiaSymReader" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.DiaSymReader.PortablePdb" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="ICSharpCode.Decompiler" publicKeyToken="d4bfe873e7598c49" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-8.1.1.7464" newVersion="8.1.1.7464"/>
        </dependentAssembly>

        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.EditorFeatures" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.EditorFeatures.Wpf" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ExpressionCompiler" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.ExpressionEvaluator.ResultProvider" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Features" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.CSharp.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.EditorFeatures" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.EditorFeatures.Text" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.EditorFeatures.Wpf" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Elfie" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.ExpressionEvaluator.ExpressionCompiler" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.ExpressionEvaluator.ResultProvider" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Features" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.InteractiveHost" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Remote.ServiceHub" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Remote.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Scripting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic.ExpressionEvaluator.ExpressionCompiler" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic.ExpressionEvaluator.ResultProvider" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic.Features" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.VisualBasic.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces.Desktop" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Workspaces" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.CSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.Implementation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.SolutionExplorer" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.LiveShare" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.VisualBasic" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.Remote.Razor.ServiceHub" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.Razor.RemoteClient" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.ExternalAccess.Copilot" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.ExternalAccess.FSharp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.ExternalAccess.EditorConfigGenerator" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CommonLanguageServerProtocol.Framework" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.CodeAnalysis.LanguageServer.Protocol" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.VisualStudio.LanguageServices.Xaml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.13.0.0" newVersion="4.13.0.0"/>
        </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
