.graph-canvas-div {
    height: 100%;
    width: 100%;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    background-color: transparent;
}

.graph-canvas {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
}

.countersDataSeries-marker {
    border-radius: 50%; /* This causes the div to look like a circle */
    width: 5px;
    height: 5px;
}

.dataCursor {
    width: 0px;
    height: 100%;
    position: absolute;
    z-index: 100;
    border-right: 1px solid var(--plugin-treeview-content-selected-border-color, black);
    overflow: visible;
}

.dataCursor.interpolating {
    border-right-style: dashed;
}

.dataCursorPoint {
    position: absolute;
    visibility: hidden;
}

.dataCursor.interpolating .dataCursorPoint {
    display: none;
}

.hidden {
    display: none;
}

.line-separator {
    height: 1px;
    background: black;
    padding: 0px 0px 0px 0px;
}

.graphContainer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: var(--plugin-color, black);
    background-color: transparent;
    font-size: var(--plugin-font-size, 9pt);
    font-family: var(--plugin-font-family, "Segoe UI"), Arial, sans-serif;
}

.graph-focus {
    position: absolute;
}

    .graph-focus:focus {
        outline: 2px solid var(--plugin-treeview-content-selected-border-color, grey);
    }

.graph-unfocused {
    outline: none !important;
}
