@helper HelperName(string name) {
    // Die Hilfsmethode kann Code und/oder Markup enthalten, z. B.
    // var msg = "Hallo " + name;
    // <p>@msg</p>
    // Weitere Informationen finden Sie unter https://go.microsoft.com/fwlink/?LinkID=204658.
}
