<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.99.99" newVersion="8.0.0.0" />
        <codeBase version="8.0.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.Bcl.AsyncInterfaces.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.VisualC.Logging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="17.0.0.0" href="..\..\..\..\PrivateAssemblies\Microsoft.VisualStudio.VisualC.Logging.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Telemetry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="17.0.0.0" href="..\..\..\..\PrivateAssemblies\Microsoft.VisualStudio.Telemetry.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Utilities.Internal" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="14.0.0.0" href="..\..\..\..\PrivateAssemblies\Microsoft.VisualStudio.Utilities.Internal.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3.0" newVersion="13.0.3.0" />
        <codeBase version="13.0.3.0" href="..\..\..\..\PrivateAssemblies\Newtonsoft.Json.13.0.3.0\Newtonsoft.Json.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
        <codeBase version="4.0.3.0" href="..\..\..\..\PublicAssemblies\System.Buffers.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        <codeBase version="8.0.0.0" href="..\..\..\..\PublicAssemblies\System.Collections.Immutable.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
        <codeBase version="6.0.0.0" href="..\..\..\..\PublicAssemblies\System.Runtime.CompilerServices.Unsafe.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
        <codeBase version="4.1.4.0" href="..\..\..\..\PublicAssemblies\System.Numerics.Vectors.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nerdbank.Streams" publicKeyToken="cac503e1823ce71c" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
        <codeBase version="2.11.0.0" href="..\..\..\..\PublicAssemblies\Nerdbank.Streams.2.x\Nerdbank.Streams.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        <codeBase version="8.0.0.0" href="..\..\..\..\PublicAssemblies\System.IO.Pipelines.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.13.0.0" newVersion="17.13.0.0" />
        <codeBase version="17.13.0.0" href="..\..\..\..\PublicAssemblies\Microsoft.VisualStudio.Threading.17.x\Microsoft.VisualStudio.Threading.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StreamJsonRpc" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="2.21.0.0" href="..\..\..\..\PublicAssemblies\StreamJsonRpc.2.x\StreamJsonRpc.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
        <codeBase version="4.0.1.2" href="..\..\..\..\PublicAssemblies\System.Memory.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
        <codeBase version="4.2.0.1" href="..\..\..\..\PublicAssemblies\System.Threading.Tasks.Extensions.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
        <codeBase version="8.0.0.5" href="..\..\..\..\PublicAssemblies\System.Text.Json.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Validation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.99.99.99" newVersion="17.8.0.0" />
        <codeBase version="17.8.0.0" href="..\..\..\..\PrivateAssemblies\Microsoft.VisualStudio.Validation.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
        <codeBase version="8.0.0.0" href="..\..\..\..\PublicAssemblies\System.Text.Encodings.Web.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>